@using Microsoft.AspNetCore.Components
@using MudBlazor
@using BlazorPOS.Shared.Models
@using BlazorPOS.Web.Services
@using BlazorPOS.Web.State

@inherits ComponentBase

<MudContainer>
    {{{content}}}
</MudContainer>

@code {
    {{{codeBlock}}}
}